<header>
    <app-main-nav></app-main-nav>
    <app-page-header></app-page-header>
</header>
<main class="mt-5">
    <div class="container">
        <app-page-about></app-page-about>
        <hr class="my-5">
        <app-page-features></app-page-features>
        <hr class="my-5">
        <app-page-curriculo></app-page-curriculo>
        <hr class="my-5">
        <app-page-cta></app-page-cta>
        <hr class="my-5">
        <app-page-contact></app-page-contact>
     </div>
</main>
<app-page-footer></app-page-footer>