<div class="row">
  <div class="col-md-12 text-center float-md-none mx-auto">
    <img src="https://mdbootstrap.com/img/Others/404_mdb.png" alt="Error 404" class="img-fluid wow fadeIn">
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12 text-center mb-5">
    <h2 class="h2-responsive wow fadeIn mb-4" data-wow-delay="0.2s" style="font-weight:500;">Oops! This obviously isn't a page you were looking for.</h2>
    <p class="wow fadeIn" data-wow-delay="0.4s" style="font-size:1.25rem;">Please, let us know how you got here, and use one of the following links to navigate back to safe harbor.</p>

    <ul class="err-404-navigation-links wow fadeIn mt-4" data-wow-delay="0.6s">
      <li>
        <a href="https://mdbootstrap.com/angular/">About MDB Angular</a>
      </li>
      <li>
        <a href="https://mdbootstrap.com/product/angular-bootstrap-pro/">MDB Angular Pro</a>
      </li>
      <li>
        <a href="https://mdbootstrap.com/support/cat/mdb-angular/">Support</a>
      </li>
    </ul>
  </div>
</div>
